#!/bin/sh

# animate ~/bin/init/nothing_matters.gif &
mpg123 ~/bin/init/real_trap_shit.mp3 &

xrdb ~/.xDefaults

xbindkeys

# detect_displays

# fix caps lock => ctrl
setxkbmap -option ctrl:nocaps

# set desktop background
feh --bg-scale /home/meandave/bin/init/days_of_rage.jpg

# diable trackpad until 1 second after keypress
syndaemon -t -k -i 1 &

#utils
unclutter -idle 1 &

xmobar &

# firefox-nightly &
chromium &
urxvt -bg black -fg white +sb &

xscreensaver &
dbus-launch --exit-with-session xmonad
