#!/bin/sh

# animate ~/bin/init/nothing_matters.gif &
# mpg123 ~/bin/init/real_trap_shit.mp3 &

# source ~/.profile

xrdb ~/.xDefaults

xbindkeys

# fix caps lock => ctrl
setxkbmap -option ctrl:nocaps

# set desktop background
feh --bg-scale /home/meandave/bin/init/days_of_rage.jpg

#utils
# unclutter -idle 1 &

firefox-nightly &
xterm &

xscreensaver &
xmobar &
dbus-launch --exit-with-session xmonad
